exportPattern("^[[:alpha:]]+")
import(BiocStyle)
import(knitr)
import(rmarkdown)
import(readxl)
import(flowCore)
import(matrixStats)
import(ggplot2)
import(reshape2)
import(dplyr)
import(limma)
import(ggrepel)
import(RColorBrewer)
import(pheatmap)
import(FlowSOM)
import(ConsensusClusterPlus)
import(Rtsne)
import(cowplot)
import(lme4)
import(multcomp)

