import(BiocStyle)
import(knitr)
import(readxl)
import(flowCore)
import(ggplot2)
import(reshape2)
import(limma)
import(ggrepel)
import(RColorBrewer)
import(pheatmap)
import(FlowSOM)
import(ConsensusClusterPlus)
import(Rtsne)
import(lme4)
import(multcomp)
import(captioner)
import(matrixStats)
import(ggjoy)
importFrom(dplyr,group_by)
importFrom(dplyr,summarize_each)
importFrom(dplyr,funs)
importFrom(cowplot,plot_grid)